.shipping-form {
  display: flex;
  justify-content: center;
  align-items: center;
}
.shipping-form input,
textarea,
select {
  display: block;
  margin-top: 10px;
  padding: 5px;
  border: 1px solid gray;
  border-radius: 5px;
  width: 350px;
}

.submit-btn {
  background-color: rgb(241, 20, 123);
  color: rgb(247, 240, 240);
  padding: 10px;
  border-radius: 5px;
  width: 150px;
  height: 40px;
  margin-top: 20px auto;
  text-align: center;
  font-weight: bold;
  border: none;
  cursor: pointer;
}
.error {
  color: red;
}
